<div layout="vertical" layout-fill layout-align="center center">


    <div class="progress">
        <div class="back"></div>
        <canvas id="canvas"></canvas>

        <div class="back-centre"></div>

    </div>


    <div class="footer">
        <div class="holder" layout="row">
            <md-input-container class="md-block" flex>
                <label>Mobile phone number.</label>
                <input ng-model="waterLevel.userPhoneNumber">
            </md-input-container>

            <md-button class="md-raised md-warn" ng-click="waterLevel.simluate()">Simulate & Subscribe</md-button>
        </div>
    </div>

    <!--<div class="slideshow">-->
        <!--<canvas width="1" height="1" id="container" style="position:absolute"></canvas>-->
    <!--</div>-->
    <!--<p class="nosupport">Sorry, but your browser does not support WebGL!</p>-->

    <!--<md-content>-->

        <!--<md-button ng-click="waterLevel.changeColour()">change colour</md-button>-->


        <!--<header>-->
        <!--<acme-navbar creation-date="main.creationDate"></acme-navbar>-->
        <!--</header>-->

        <!--<section class="jumbotron">-->
        <!--<h1>'Allo, 'Allo!</h1>-->
        <!--<p class="lead">-->
        <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>-->
        <!--Always a pleasure scaffolding your apps.-->
        <!--</p>-->
        <!--<md-button class="md-raised animated infinite" ng-class="main.classAnimation" ng-click="main.showToastr()">Splendid Toastr</md-button>-->
        <!--<p>-->
        <!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
        <!--</p>-->
        <!--</section>-->

        <!--<div class="techs" layout-align="center">-->
        <!--<md-card ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">-->
        <!--<md-card-content>-->
        <!--<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">-->
        <!--<h3 class="md-title">{{ awesomeThing.title }}</h3>-->
        <!--<p>{{ awesomeThing.description }}</p>-->
        <!--</md-card-content>-->
        <!--<div class="md-action-buttons">-->
        <!--<md-button ng-href="{{ awesomeThing.url }}">Website</md-button>-->
        <!--</div>-->
        <!--</md-card>-->
        <!--</div>-->
        <!--</md-content>-->

</div>
