
$circleColour: #4FC3F7;
$circleBackRadius: 300px;
$circleCenterRadius: $circleBackRadius - 30px;

.progress {

  position: fixed; /* or absolute */
  top: calc(50% - 135px);
  left: calc(50% - 155px);

  .back {
    position: absolute;
    background-color: $circleColour;
    width: $circleBackRadius;
    height: $circleBackRadius;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 0;
  }

  .back-centre {
    position: absolute;
    background-color: #fff;

    width: $circleCenterRadius;
    height: $circleCenterRadius;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    z-index: 1;
  }

  #canvas {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    border-radius: 50%;
  }
}

.footer {
  position:fixed;
  //margin: 0 auto;
  left: 0;
  bottom:0px;
  height:100px;
  width:100%;

  .holder {
    margin: 0 auto;
    width: 400px;

    .md-button {
      height: 45px;
    }
  }


}


