.progress {
  position: fixed;
  /* or absolute */
  top: calc(50% - 135px);
  left: calc(50% - 155px); }
  .progress .back {
    position: absolute;
    background-color: #4FC3F7;
    width: 300px;
    height: 300px;
    top: 5px;
    left: 5px;
    border-radius: 50%;
    z-index: 0; }
  .progress .back-centre {
    position: absolute;
    background-color: #fff;
    width: 270px;
    height: 270px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    z-index: 1; }
  .progress #canvas {
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 2;
    border-radius: 50%; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0px;
  height: 100px;
  width: 100%; }
  .footer .holder {
    margin: 0 auto;
    width: 400px; }
    .footer .holder .md-button {
      height: 45px; }

/*# sourceMappingURL=waterLevel.css.map */
